/* Fonts */
@font-face {
  font-family: Iran-Yekan;
  src: url("../fonts/IRANYekanXVF.ttf");
}

/* All Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: Iran-Yekan;
}
body {
  background-color: #ddd0c8;
}
/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* Modal box Style */
.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/* Modal Style */
.modal {
  background-color: #e9eef2;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 100%;
  max-width: 700px;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.95);
}
/* Header content Style */
.content > header {
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}
/* Exit icon div Style */
.content > header > div {
  display: flex;
  flex-direction: row-reverse;
}
/* Exit icon Style */
.content > header > div > ion-icon {
  color: #6b6b6b;
  cursor: pointer;
  font-size: 25px;
}
/* Form content Style */
.content > form {
  margin: 15px 25px 35px;
}
/* Title and description form Style */
form > .title,
form > .description {
  margin-bottom: 20px;
}
/* Label form Style */
form label {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}
/* Input and textarea form Style */
form > .title > input,
form > .description > textarea {
  height: 50px;
  width: 100%;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999;
}
/* Input and textarea focus Style */
form > .title > input:focus,
form > .description > textarea:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}
/* Textarea form Style */
form > .description > textarea {
  height: 150px;
  padding: 8px 15px;
  resize: none;
}
/* Button form Style */
form button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #323232;
  border-radius: 4px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}
/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* Add note Style */
.add-note {
  display: flex;
  margin: 50px;
}
/* Add box Style */
.add-box {
  height: 250px;
  border-radius: 5px;
  padding: 15px 50px 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* Icon add box Style */
.add-box > .icon {
  height: 78px;
  width: 78px;
  color: #323232;
  border-radius: 50%;
  border: 2px dashed #323232;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Paragraph add box Style */
.add-box p {
  color: #323232;
  margin-top: 20px;
  font-weight: 500;
}
/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
