body{
    margin: 0;
}

.modal-box{

}

.modal{
    background-color: blue;
    max-width: 800px;
    min-width: 700px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.content>header>div{
    display: flex;
    flex-direction: row-reverse;
}

.content>header>div>img{
    width: 40px;
}